nav
{
  width: 100px;
  height: 80vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

nav::before
{
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  content: "";
  background-color: white;
  z-index: 0;
}

nav ul
{
  z-index: 1;
}

.s-left-collumn__icon
{
  position: absolute;
  top: -20px;
}

.s-left-collumn__item
{
  margin: 60px 0;
}

.s-left-collumn__item:first-child
{
  margin-top: 0;
}

.s-left-collumn__item:last-child
{
  margin-bottom: 0;
}

.s-left-collumn__item a
{
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.s-left-collumn__item  a:hover, .s-left-collumn__item  a:active
{
  transform: scale(1.2);
  background-color: white;
  color: var(--primary-color);
}